NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=

# Optional
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development
SENTRY_ENVIRONMENT=development
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_TRACES_SAMPLE_RATE=0.1
NEXT_PUBLIC_SENTRY_SEND_DEFAULT_PII=false
SENTRY_SEND_DEFAULT_PII=false

# Optional, only for source map upload during build
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
